/* 
    marquee-text-1-start
*/
.fx-marquee-text-1-item {
    display: flex;
    align-items: center;
    gap: 65px;

    @media #{$md,$xs} {
        gap: 30px;
    }

    .item-text {
        font-size: 90px;
        line-height: 1;
        letter-spacing: -4px;
        flex: 0 0 auto;
        transition: all .3s var(--cube-1);

        @media #{$xxxl} {
            font-size: 80px;
        }

        @media #{$xxl} {
            font-size: 70px;
        }

        @media #{$xl} {
            font-size: 60px;
        }

        @media #{$lg} {
            font-size: 50px;
        }

        @media #{$md} {
            font-size: 40px;
            letter-spacing: -1px;
        }

        @media #{$sm} {
            font-size: 30px;
            letter-spacing: -1px;
        }

        @media #{$xs} {
            font-size: 25px;
            letter-spacing: -1px;
        }

        &:hover {
            color: var(--fx-clr-pr-1);
        }
    }
    svg {
        flex:  0 0 auto;

        @media #{$md,$xs} {
            width: 60px;
        }

        * {
            transition: all .3s var(--cube-1);
        }

        &:hover {

            * {
                fill: var(--fx-clr-pr-1);
            }
        }
    }
}


/* 
    marquee-text-1-end
*/

/* 
    marquee-text-2-start
*/
.fx-marquee-text-1-item {
    &:is(.has-marquee-text-2) {
        .item-text {
            color: #fff;

            &:hover {
                color: var(--fx-clr-pr-1);
            }
        }

        svg {
            * {
                fill: #08449C;
            }

            &:hover {
                * {
                    fill: var(--fx-clr-pr-1);
                }
            }
        }
    }
}
/* 
    marquee-text-2-end
*/
/* 
    marquee-text-5-start
*/
.fx-marquee-text-1 {
    &:is(.fx-marquee-text-4) {
        .fx-marquee-text-1-item .item-text {
            color: #fff;

            &:hover {
                color: var(--fx-clr-pr-1);
            }
        }

        .fx-marquee-text-1-item svg * {
            fill: var(--fx-clr-pr-1);
        }
    }
}
/* 
    marquee-text-5-end
*/
/* 
    marquee-text-6-start
*/
.fx-marquee-text-1 {
    &:is(.fx-marquee-text-6) {
        .fx-marquee-text-1-item .item-text {

            &:hover {
                color: #fff;
            }
        }

        .fx-marquee-text-1-item svg {
            &:hover {
                * {
                    fill: #fff;
                }
            }
        }
    }
}
/* 
    marquee-text-6-end
*/
