/* 
    project-1-start
*/

.fx-project-1 {
    &-scn-title {
        max-width: 900px;
    }

    &-item {
        &-single {
            display: flex;
            align-items: center;
            gap: 48px;
            position: relative;
            z-index: 1;
            padding: 30px 0;
            border-top: 1px solid rgb(0 0 0 / 24%);
            overflow: hidden;
            transition: all .3s var(--cube-1);

            @media #{$md,$xs} {
                gap: 30px;
            }

            @media #{$xs} {
                gap: 30px;
                flex-wrap: wrap;
            }

            @media #{$sm} {
                gap: 30px;
                flex-wrap: nowrap;
            }

            .item-number {
                font-size: 16px;
                opacity: 64%;
            }

            .item-title {
                font-size: 32px;
                opacity: 64%;
                transition: all .3s var(--cube-1);

                @media #{$xl} {
                    font-size: 28px;
                }

                @media #{$lg} {
                    font-size: 26px;
                }

                @media #{$md,$xs} {
                    font-size: 22px;
                }
            }

            .item-btn {
                flex: 0 0 auto;
                margin-left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 56px;
                height: 56px;
                border: 2px solid var(--fx-clr-pr-1);
                font-size: 20px;
                color: var(--fx-clr-pr-1);
                background: #fff;
                transition: all .5s var(--cube-1);
                transform: translateX(60px);

                &:hover {
                    background: var(--fx-clr-pr-1);
                    color: #fff;
                }


            }

            .item-bg {
                position: absolute;
                right: -100px;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                opacity: 0;
                transition: all .5s var(--cube-1);

                @media #{$xs} {
                    display: none;
                }
            }

            .item-icon {
                svg {
                    transition: all .3s var(--cube-1);

                    * {
                        transition: all .3s var(--cube-1);
                    }
                }
            }

            &:hover {
                border-color: #000;

                .item-title {
                    color: var(--fx-clr-pr-1);
                    opacity: 100%;
                }

                .item-icon {
                    svg {
                        animation: fx-project-1-icon .5s ;

                        * {
                            fill: var(--fx-clr-pr-1);
                         
                        }
                    }
                }

                .item-btn {
                    transform: translateX(-5px);
                }

                .item-bg {
                    right: 0px;
                    opacity: 1;
                }
    
            }
        }
    }
}

@keyframes fx-project-1-icon {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* 
    project-1-end
*/

/* 
    project-2-start
*/

.fx-project-2 {

    &-bg {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    &-scn-title {
        max-width: 800px;
    }

    &-slider {
        &-item  {
            padding-bottom: 60px;

            &-title {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 24px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                align-items: self-start;

                .fx-scn-title-2 {
                    background: #fff;
                    padding-top: 12px;
                    padding-left: 12px;
                    display: inline-block;
                    padding-right: 12px;
                    font-size: 45px;

                    &:first-child {
                        border-radius: 8px 8px 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 8px 8px;
                    }

                    @media #{$xs} {
                        font-size: 40px;
                    }
                }
                
            }

            .item-img {
                height: 550px;
                border-radius: 16px;
                position: relative;
                z-index: 1;

                img {
                    filter: blur(3px);
                    transition: all .5s var(--cube-1);
                    transition-delay: 0s;
                }
            }

            &-box {
                max-width: 384px;
                border-radius: 16px;
                box-shadow: -20px 20px 48px rgb(0 0 0 / 8%);
                padding: 40px 40px;
                margin-left: auto;
                margin-right: 208px;
                margin-top: -145px;
                position: relative;
                z-index: 1;
                background: #fff;
                transform: translateX(35%);
                transition: all .7s var(--cube-1);
                transition-delay: 0s;

                @media #{$lg,$md,$xs} {
                    margin-right: 10px;
                }
            
                .disc {
                    line-height: 26px;
                    opacity: 80%;
                    margin-bottom: 25px;
                }
            }

            .fx-p2-slideup {
                transform: translateY(103%);
                transition: all .5s var(--cube-1);
                transition-delay: 0s;
            }
            
        }

        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    overflow: hidden;
                    &:is(.swiper-slide-active) {
                        .fx-p2-slideup {
                            transform: translateY(0%);
                            transition-delay: .4s;
                        }
                        .fx-project-2-slider-item-box {
                            transform: translateX(0);
                            transition-delay: .3s;
                            opacity: 1;
                        }
                        .fx-project-2-slider-item .item-img img {
                            filter: blur(0);
                            transition-delay: .3s;
                        }
                    }
                }
            }

            .swiper-notification {
                display: none;
            }
        }

        &-btn {
            position: absolute;
            bottom: 106px;
            left: 65px;
            z-index: 1;

            @media #{$xl,$lg} {
                left: 0px;
            }

            @media #{$md,$xs} {
                position: unset;
                left: 0px;
                margin-bottom: 30px;
            }

            .fx-p2-scrollbar {
                @media #{$xs} {
                    display: none;
                }
            }
        }

        &-next {
            width: 224px;
            height: 300px;
            border-radius: 16px;
            overflow: hidden;
            position: absolute;
            right: -110px;
            top: 38%;
            transform: translateY(-50%);
            z-index: 1;

            @media #{$xxl} {
                right: -50px;
            }

            @media #{$xl} {
                right: -20px;
            }

            @media #{$lg,$md,$xs} {
                display: none;
            }


            &-img {
                height: 100%;
                filter: blur(4px);
                transition: all .5s var(--cube-1);
                transition-delay: 0s;
            }

            .swiper-container {
                height: 100%;
                .swiper-wrapper {
                    height: 100%;

                    .swiper-slide {
                        height: 100%;

                        &:is(.swiper-slide-active) {
                            .fx-project-2-slider-next-img {
                                filter: blur(0);
                            }
                        }
                    }
                }
            }

            &-btn {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 1;
                width: 100%;
                padding: 0 8px;

                .fx-slider-btn-1 {
                    display: flex;
                    justify-content: space-between;

                     i {
                        color: #000;
                     }
                }
            }
        }
    }
}


/* 
    project-2-end
*/

/* 
    project-3-start
*/
.fx-project-2-slider {
    &:is(.has-project-3) {
        .fx-project-2-slider-btn {
            left: unset;
            right: 118px;

            @media #{$xl,$lg,$md,$xs} {
                right: 0px;
            }
        }
    }
}


.fx-project-2-slider-item {
    &:is(.has-project-3) {



        .fx-project-2-slider-item-box {
            .title {
                font-size: 45px;
                line-height: .85;
                max-width: 277px;
                margin-bottom: 20px;

                @media #{$lg,$md,$xs} {
                    font-size: 35px;
                }
            }

            margin-left: 104px;
            margin-right: auto;
            margin-top: -245px;
            transform: translateX(-35%);
            opacity: 0;

            @media #{$lg,$md} {
                margin-left: 20px;
            }

            @media #{$xs} {
                margin-left: 20px;
                padding: 40px 20px;;
            }

            @media #{$sm} {
                padding: 40px 40px;;
            }
        }
    }
}
/* 
    project-3-end
*/
/* 
    project-6-start
*/
.fx-project-6 {
    &-area {
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        z-index: 2;

        @media #{$md,$xs} {
            padding-top: 60px;
            
        }
    }

    &-scn-title {
        max-width: 800px;
    }

    &-item {
        border-radius: 32px;
        padding: 20px;
        margin-bottom: 64px;
        position: sticky;
        top: 110px;

        @media #{$xs} {
            position: unset;
        }

        @media #{$sm} {
            position: sticky;
        }



        &-content {
            background: rgb(255 255 255 / 88%);
            border-radius: 20px;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            padding: 40px 40px;
            max-width: 382px;
            width: 100%;
            margin-left: auto;

            @media #{$xs} {
                padding: 40px 20px;
            }

            .item-count {
                display: flex;
                gap: 6px;
                line-height: 1;
                font-size: 18px;
                color: rgb(0 0 0 / 40%);
                margin-bottom: 135px;

                @media #{$xl,$lg,$md,$xs} {
                    margin-bottom: 90px;
                }
            }
            
            .item-title {
                font-size: 45px;
                line-height: .89;
                margin-bottom: 19px;
                transition: all .4s var(--cube-1);

                @media #{$xl,$lg,$md,} {
                    font-size: 35px;
                }

                @media #{$xs} {
                    font-size: 30px;
                }

                &:hover {
                    color: var(--fx-clr-pr-2);
                    transform: translateX(3px);
                }
            }
            
            .item-disc {
                line-height: 26px;
                opacity: 72%;
                margin-bottom: 25px;
            }
        }
    }
}


/* 
    project-6-end
*/

/* 
    project-7-start
*/

.fx-projects-7 {

    &-nav {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        align-items: self-start;

        @media #{$xs} {
            flex-wrap: wrap;
        }
    }

    &-filter-btn {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    
        button {
            flex: 0 0 auto;
            border: none;
            outline: none;
            text-transform: capitalize;
            font-family: var(--fx-font-pr-1);
            color: rgb(0 0 0 / 70%);
            font-size: 18px;
            font-weight: 400;
            padding: 17px 28px;
            line-height: 1;
            border-radius: 4px;
            transition: all .3s var(--cube-1);

            @media #{$md,$xs} {
                padding: 12px 15px;
            }
    
    
            &:hover {
                background: var(--fx-clr-pr-1);
                color: #fff;
            }
    
            &:is(.is-checked) {
                background: var(--fx-clr-pr-1);
                color: #fff;
            }
        }
    }

    &-filter-item {
        margin-left: -20px;
        margin-right: -20px;

        @media #{$xs} {
            margin-left: 0px;
            margin-right: 0px;
        }

        .grid-sizer {
            width: 50%;
        }

        .grid-item {
            width: 50%;
            padding: 20px;

            @media #{$xs} {
                width: 100%;
            }
        }

        &-single {
            height: 560px;
            border-radius: 12px;

            @media #{$md,$xs} {
                height: 400px;
            }

            img {
                filter: grayscale(1);
                transition: all .4s var(--cube-1);
            }

            .content {
                position: absolute;
                bottom: -50%;
                left: 0;
                width: 100%;
                background: rgb(255 255 255 / 70%);
                backdrop-filter: blur(12px);
                -webkit-backdrop-filter: blur(12px);
                display: flex;
                align-items: center;
                gap: 25px;
                flex-wrap: wrap;
                padding: 32px 32px;
                justify-content: space-between;
                transition: all .5s var(--cube-1);
                opacity: 0;

                @media #{$md,$xs} {
                    padding: 32px 20px;
                }
            }

            .item-subtitle {
                background: #08449C;
                display: inline-block;
                line-height: 1;
                font-size: 12px;
                font-weight: 500;
                border-radius: 4px;
                padding: 9px 17px;
                margin-bottom: 10px;
            }

            .item-title {
                font-size: 28px;
                transition: all .4s var(--cube-1);

                @media #{$lg,$md,$xs} {
                    font-size: 22px;
                }

                &:hover {
                    color: var(--fx-clr-pr-1);
                    transform: translateX(3px);
                }
            }

            .item-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                width: 56px;
                height: 56px;
                background: #fff;
                transition: all .4s var(--cube-1);

                svg * {
                    transition: all .4s var(--cube-1);
                }
                &:hover {
                    background: var(--fx-clr-pr-1);
                    svg *{
                        fill: #fff;
                    }
                }
            }
        

            &:hover {
                img {
                    filter: grayscale(0);
                    transform: scale(104%);
                }
                .content {
                    bottom: 0%;
                    opacity: 1;
                }
            }
        }
    }
    
    &-search {
        width: 100%;
        max-width: 176px;
        border-bottom: 1px solid #DFE1E5;
        position: relative;
        z-index: 1;
        padding-bottom: 15px;

        &-input {
            border: none;
            outline: none;
            font-size: 16px;
            color: rgb(0 0 0 / 40%);
            padding: 0;
            padding-left: 26px;
            font-weight: 500;
        }

        &-icon {
            font-size: 16px;
            position: absolute;
            top: 3px;
            left: 0;
        }
        
    }
    
}



/* 
    project-7-end
*/

/* 
    project-8-start
*/
.fx-projects-7-filter-item {
    &:is(.has-projects-8) {
        margin-left: -16px;
        margin-right: -16px;

        @media #{$xs} {
            margin-left: 0px;
            margin-right: 0px;
        }

        .grid-sizer {
            width: 33.33%;

            @media #{$lg,$md} {
                width: 50%;
            }
        }

        .grid-item {
            width: 33.33%;
            padding: 16px;

            @media #{$lg,$md} {
                width: 50%;
            }

            @media #{$xs} {
                width: 100%;
            }
        }

        .fx-projects-7-filter-item-single {
            height: 365px;

            .content {
                padding: 28px 28px;
                gap: 20px;

                @media #{$xs} {
                    padding: 28px 20px;
                }
            }
            .item-title {
                font-size: 24px;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }
            }

            .item-btn {
                width: 44px;
                height: 44px;
            }
        }
    }
}
/* 
    project-8-end
*/

/* 
    project-9-start
*/
.fx-projects-7-filter-item {
    &:is(.has-projects-9) {
        margin-left: -12px;
        margin-right: -12px;

        @media #{$xs} {
            margin-left: 0px;
            margin-right: 0px;
        }

        .grid-sizer {
            width: 25%;

            @media #{$lg} {
         
                width: 33.33%;
            }

            @media #{$md} {
                width: 50%;
            }
        }

        .grid-item {
            width: 25%;
            padding: 12px;

            @media #{$lg} {
                width: 33.33%;
            }

            @media #{$md} {
                width: 50%;
            }

            @media #{$xs} {
                width: 100%;
            }
        }

        .fx-projects-7-filter-item-single {
            height: 272px;

            .content {
                padding: 16px;
                padding-right: 0;
                gap: 20px;

                @media #{$xl,$lg,$md,$xs} {
                    padding: 16px;
                }

            }
            .item-title {
                font-size: 20px;
            }

            .item-btn {
                width: 36px;
                height: 36px;
            }
        }
    }
}
/* 
    project-9-end
*/
/* 
    project-10-start
*/
.fx-projects-10 {

    &-wrap {
        margin-left: -114px;
        margin-right: -114px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
        }

        .grid-sizer {
            width: 33.33%;

            @media #{$lg,$md,$xs} {
                width: 50%;
            }
        }

        .grid-size-66-480 {
            width: 66.666%;
            height: 480px;

            @media #{$lg,$md,$xs} {
                width: 50%;
                height: 450px;
            }
        }

        .grid-size-33-580 {
            width: 33%;
            height: 580px;

            @media #{$lg,$md,$xs} {
                width: 50%;
                height: 450px;
            }
        }

        .grid-size-33-680 {
            width: 33%;
            height: 680px;

            @media #{$lg,$md,$xs} {
                width: 50%;
                height: 450px;
            }
        }

        .grid-size-33-326 {
            width: 33%;
            height: 345px;

            @media #{$lg,$md,$xs} {
                width: 50%;
                height: 450px;
            }
        }

        .grid-item {
            padding: 14px;

            @media #{$xs} {
                width: 100%;
            }
        }
    }

    &-item {
        border-radius: 8px;
        height: 100%;

        &::after {
            content: "";
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
            z-index: 1;
            transition: all .5s var(--cube-1);
            transform: translateY(100%);
            transition-delay: .2s;
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 44px 44px;
            z-index: 2;
            transform: translateY(100%);
            transition: all .5s var(--cube-1);
            transition-delay: 0s;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 44px 15px;
            }

        }

        .item-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            position: absolute;
            right: 30px;
            top: 30px;
            background: var(--fx-clr-pr-1);
            border-radius: 50%;
            transform: translateY(-100%);
            transition: all .5s var(--cube-1);
            opacity: 0;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                width: 50px;
                height: 50px;
            }

            svg *{
                transition: all .5s var(--cube-1);
            }

            &:hover {
                background: #fff;
                svg *{
                    fill: #000;
                }
            }
        }

        .item-subtitle {
            background: #08449C;
            display: inline-block;
            line-height: 1;
            font-size: 12px;
            font-weight: 500;
            border-radius: 4px 4px 0 0;
            padding: 9px 17px;
        }

        .item-title {
            font-size: 28px;
            transition: all .4s var(--cube-1);
            
            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            a {
                background-color: #fff;
                padding: 10px 16px;
                border-radius: 0 4px 4px 4px;
            }

            &:hover {
                color: var(--fx-clr-pr-1);
                transform: translateX(3px);
            }
        }

        &:hover {
            &::after {
                transform: translateY(0);
                transition-delay: 0s;
            }
            .content {
                transform: translateY(0);
                transition-delay: .2s;
            }
            .item-btn {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &:is(.has-height-480) {
            height: 480px;
        }

        &:is(.has-height-580) {
            height: 580px;
        }

        &:is(.has-height-680) {
            height: 680px;
        }

        &:is(.has-sm-card) {

        }
    }
}

/* 
    project-10-end
*/





