@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/* 
    root-veriable-start
*/
:root {
    scroll-behavior: inherit;

    --fx-font-pr-1: "Roboto", sans-serif;
    --fx-font-pr-2: "Teko", sans-serif;

    --fx-clr-pr-1: #FC5220;
    --fx-clr-pr-2: #FCA804;

    --fx-clr-sd-1: #021F45;
    --fx-clr-sd-2: #FFE443;
    --fx-clr-sd-3: #003227;
    

    --fd-clr-h-1: #363539;

    --fd-clr-p-1: #797a84;

    --cube-1: cubic-bezier(0.55, 0.085, 0, 0.99);
    --cube-2: all .25s cubic-bezier(.645,.045,.355,1);


}



/* 
    root-veriable-end
*/

$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 767px)';
