/* 
    video-1-start
*/
.fx-video-1 {
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 16px;
    height: 600px;

    @media #{$xs} {
        height: 300px;
    }

    @media #{$sm} {
        height: 350px;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: #021F45;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 30%;
    }

    &-btn {
        padding: 20px 32px;
        z-index: 1;

        @media #{$xs} {
            padding: 8px 6px;
        }

        @media #{$sm} {
            padding: 20px 32px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: rgb(255 255 255 / 72%);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 8px;
            z-index: -1;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
        }
    }
}

#magnetic-area {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    #magnetic-content {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

/* 
    video-1-end
*/

/* 
    video-3-start
*/
.fx-video-3 {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;

    clip-path: polygon( 72.16% 17.5%,72.16% 17.5%,72.972% 17.311%,73.747% 16.763%,74.477% 15.882%,75.153% 14.696%,75.767% 13.23%,76.31% 11.512%,76.774% 9.569%,77.15% 7.428%,77.431% 5.115%,77.606% 2.657%,77.606% 2.657%,77.636% 2.229%,77.683% 1.822%,77.746% 1.441%,77.822% 1.093%,77.913% 0.782%,78.015% 0.516%,78.127% 0.299%,78.249% 0.137%,78.38% 0.035%,78.517% 0%,99.153% 0%,99.153% 0%,99.29% 0.035%,99.42% 0.136%,99.542% 0.298%,99.653% 0.515%,99.752% 0.781%,99.837% 1.092%,99.905% 1.441%,99.957% 1.824%,99.989% 2.234%,100% 2.667%,100% 97.333%,100% 97.333%,99.989% 97.766%,99.957% 98.176%,99.905% 98.559%,99.837% 98.908%,99.752% 99.219%,99.653% 99.486%,99.542% 99.702%,99.42% 99.864%,99.29% 99.965%,99.153% 100%,0.847% 100%,0.847% 100%,0.71% 99.965%,0.58% 99.864%,0.458% 99.702%,0.347% 99.486%,0.248% 99.219%,0.164% 98.908%,0.095% 98.559%,0.043% 98.176%,0.011% 97.766%,0% 97.333%,0% 2.667%,0% 2.667%,0.011% 2.234%,0.043% 1.824%,0.095% 1.441%,0.164% 1.092%,0.248% 0.781%,0.347% 0.515%,0.458% 0.298%,0.58% 0.136%,0.71% 0.035%,0.847% 0%,65.805% 0%,65.805% 0%,65.942% 0.035%,66.072% 0.137%,66.194% 0.299%,66.307% 0.516%,66.409% 0.782%,66.499% 1.093%,66.576% 1.441%,66.638% 1.822%,66.685% 2.229%,66.715% 2.657%,66.715% 2.657%,66.891% 5.115%,67.171% 7.428%,67.548% 9.569%,68.012% 11.512%,68.555% 13.23%,69.168% 14.696%,69.844% 15.882%,70.574% 16.763%,71.349% 17.311%,72.16% 17.5% );

    -webkit-clip-path: polygon( 72.16% 17.5%,72.16% 17.5%,72.972% 17.311%,73.747% 16.763%,74.477% 15.882%,75.153% 14.696%,75.767% 13.23%,76.31% 11.512%,76.774% 9.569%,77.15% 7.428%,77.431% 5.115%,77.606% 2.657%,77.606% 2.657%,77.636% 2.229%,77.683% 1.822%,77.746% 1.441%,77.822% 1.093%,77.913% 0.782%,78.015% 0.516%,78.127% 0.299%,78.249% 0.137%,78.38% 0.035%,78.517% 0%,99.153% 0%,99.153% 0%,99.29% 0.035%,99.42% 0.136%,99.542% 0.298%,99.653% 0.515%,99.752% 0.781%,99.837% 1.092%,99.905% 1.441%,99.957% 1.824%,99.989% 2.234%,100% 2.667%,100% 97.333%,100% 97.333%,99.989% 97.766%,99.957% 98.176%,99.905% 98.559%,99.837% 98.908%,99.752% 99.219%,99.653% 99.486%,99.542% 99.702%,99.42% 99.864%,99.29% 99.965%,99.153% 100%,0.847% 100%,0.847% 100%,0.71% 99.965%,0.58% 99.864%,0.458% 99.702%,0.347% 99.486%,0.248% 99.219%,0.164% 98.908%,0.095% 98.559%,0.043% 98.176%,0.011% 97.766%,0% 97.333%,0% 2.667%,0% 2.667%,0.011% 2.234%,0.043% 1.824%,0.095% 1.441%,0.164% 1.092%,0.248% 0.781%,0.347% 0.515%,0.458% 0.298%,0.58% 0.136%,0.71% 0.035%,0.847% 0%,65.805% 0%,65.805% 0%,65.942% 0.035%,66.072% 0.137%,66.194% 0.299%,66.307% 0.516%,66.409% 0.782%,66.499% 1.093%,66.576% 1.441%,66.638% 1.822%,66.685% 2.229%,66.715% 2.657%,66.715% 2.657%,66.891% 5.115%,67.171% 7.428%,67.548% 9.569%,68.012% 11.512%,68.555% 13.23%,69.168% 14.696%,69.844% 15.882%,70.574% 16.763%,71.349% 17.311%,72.16% 17.5% );

    @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

}

// .txaaimgpllx {
//     img {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }
/* 
    video-3-end
*/